.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.Form {
    display: flex;
    margin: 20px;
    margin-top: 100px;
    height: 100px;
    width: 50%;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 226, 131);
    border-radius: 20px;
    box-shadow: rgb(219, 219, 219) 3px 3px 3px;
}

.Form:hover {
    display: flex;
    margin: 20px;
    margin-top: 100px;
    height: 100px;
    width: 50%;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 218, 103);
    border-radius: 20px;
    box-shadow: rgb(219, 219, 219) 3px 3px 3px;
}


.Input {
    height: 30px;
    width: 80%;
    font-size: 20px;
    text-align: center;
    outline-color: rgb(247, 158, 41);
    border-radius: 10px;
    border-color: rgb(255, 226, 131);
    background-color: rgb(255, 249, 213);
}

.Post {
    display: flex;
    flex-direction: row;
    margin: 20px;
    height: 100px;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(243, 243, 243);
    border-radius: 20px;
    box-shadow: rgb(219, 219, 219) 3px 3px 3px;
}

.Post:hover {
    display: flex;
    flex-direction: row;
    margin: 20px;
    height: 100px;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(224, 224, 224);
    border-radius: 20px;
    box-shadow: rgb(219, 219, 219) 3px 3px 3px;

}

.PostText {
    margin: 50px;
}

.Buttons {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.Button {
    margin: 20px;
}